/.env
/nginx/fullchain.pem
/nginx/privkey.pem
/mypy/power/dailyPowerConsumption.py
/docker-compose.dev.yml
/Python-3.12.0/
/lib/
/mypy/power/logValues.txt
/mypy/__pycache__/
/nginx/zerossl_certificate.crt
/nginx/private.key
/Scripts
/win_venv
/mypy/__pycache__
/mypy/__pycache__
/mypy/static/