img {
    max-width:100%;
    height:auto;
}

th, td {
    border: 2px solid black;
    padding: 5px;
  }

body {
    margin: 0px;
}

* {
    box-sizing: border-box;
  }
  
.container {
    padding: 10px;
    float: left;
    width: 100%;
  }
  

.navbar {
overflow: hidden;
background-color: #61868d;
position: fixed;
top: 0;
width: 100%;
}


.navbar a {
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}


.navbar a:hover {
background: #ddd;
color: black;
}


.main {
margin-top: 80px;
padding-left: 3px;
padding-right: 3px;
padding-bottom: 3px;
}

.result {
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  }

@media screen and (max-width: 600px) {
    .container {
      width: 50%;
    }
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        width: 100%;
        }
    .main {
        margin-top: 160px;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        width: 100%;
    }
  }