<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/style.css" rel="stylesheet" />

<div id="dropdowns" data-dropdowns="{{ dropdowns }}"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript">

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function comparison (){

  var year1 = document.getElementById("year1").value;
  var year2 = document.getElementById("year2").value;
  var month1 = document.getElementById("month1").value;
  var month2 = document.getElementById("month2").value;
  var csrftoken = getCookie('csrftoken');
  var url = "/power/comparison/api";


  var compData = `{"year1": "${year1}", "year2": "${year2}", "month1": "${month1}", "month2": "${month2}"}`;

  $.ajax({
    url: url,
    method: "POST",
    headers: {'X-CSRFToken': csrftoken},
    content_type: 'application/json',
    data: JSON.stringify(compData),
    error: function(xhr, status, error) {
      console.error("Error:", error);
    },
    success: function(response) {
      console.log(response);
      document.getElementById("result").innerHTML = response;
    }
  }
  );
};




</script>
<script src="/static/dynamicDropdowns.js"></script>
<p><a href='/power'>Zum laufenden Monat</a></p>

<div class="navbar">
  <a href="/power">Übersicht aktueller Monat</a>
  <a href="/power/plots">Übersicht vergangene Monate</a>
  <a href="/power/comparison">Monatsvergleiche</a>
</div>

<div class="main">
  <div class="container">
    Jahr 1: <select name="year1" id="year1">
      <option value="" selected="selected">Jahr auswählen</option>
    </select>
    <br><br>
    Monat 1: <select name="month1" id="month1">
      <option value="" selected="selected">Bitte erst Jahr auswählen</option>
    </select>
  </div>
  <div class="container">
    Jahr 2: <select name="year2" id="year2">
        <option value="" selected="selected">Jahr auswählen</option>
      </select>
      <br><br>
    Monat 2: <select name="month2" id="month2">
        <option value="" selected="selected">Bitte erst Jahr auswählen</option>
      </select>
    </div>   
    <button onclick = comparison()>Vergleichen</button>
</div>
<br>
<div id="result"></div>