<link href="/static/style.css" rel="stylesheet" />

<h2>Übersicht vergangener Monate</h2>

<p><a href='/power'>Zum laufenden Monat</a></p>

{% for plot, month, average, red, orange, yellow, green, lightgreen, sharePlot in plots %}
<h3>{{ month }}</h3>
<p><b>Verlauf:</b></p>
<p><img src="data:image/png;base64,{{ plot }}"/></p>
<p>Durchschnittlicher Verbrauch: {{ average }} kWh<br>
Tage mit hohem Verbrauch (>= 10 kWh): {{ red }}<br>
Tage mit überdurchschnittlichem Verbrauch (8-10 kWh): {{ orange }}<br>
Tage mit durchschnittlichem Verbrauch (6-8 kWh): {{ yellow }}<br>
Tage mit niedrigem Verbrauch (4-6 kWh): {{ green }}<br>
Tage mit sehr niedrigem Verbrauch (<= 4 kWh): {{ lightgreen }}</p>
<p><b>Prozentuale Verteilung:</b></p>
<p><img src="data:image/png;base64,{{ sharePlot }}"/></p>
{% endfor %}
