<h1>Stromverbrauch</h1>
<p>
    <p><b>{{ day }}</b>: {{ dPower }} kWh</p>
    <p><b>{{ week }}</b>: {{ wPower }} kWh</p>
    <p><b>{{ month }}</b>: {{ mPower }} kWh <br><br>
    <u>Hochrechnung für den laufenden Monat</u>: {{ extrapolationCurrentMonth }} kWh bei weiterhin ähnlichem Verbrauch ({{ compLastMonthPercent }} %*{% if compLastMonth < 0 %} weniger{% else %} mehr{% endif %} als letzten Monat).
    </p>

</p>
<p><small>*normalisiert an die Anzahl der Tage des Vormonats.</small></p>
<p><img src='data:image/png;base64,{{ plot }}'/></p>
<p><a href='/'>Zurück</a></p>