<h1>Stromverbrauch</h1>
<p>
    <p><b>{{ day }}</b>: {{ dPower }} kWh</p>
    <p><b>{{ week }}</b>: {{ wPower }} kWh</p>
    <p><b>{{ month }}</b>: {{ mPower }} kWh <br><br>
{% if dayOfMonth > 1 %}
    <u>Hochrechnung für den laufenden Monat</u>: {{ extrapolationCurrentMonth }} kWh bei weiterhin ähnlichem Verbrauch ({{ compLastMonthPercent }} %*{% if compLastMonth < 0 %} weniger{% else %} mehr{% endif %} als letzten Monat).
    </p>

</p>
<p><small>*normalisiert an die Anzahl der Tage des Vormonats.</small></p>
{% if dayOfMonth > 1 and dayOfMonth < 6 %}
<p><b>Bitte beachten:</b> In den ersten Tagen des Monats kann die Hochrechnung unpräzise sein. Nach ein paar Tagen wird sie an Relevanz gewinnen.</p>
{% endif %}

{% else %}
<p>Hochrechnung für laufenden Monat noch nicht möglich, da noch keine Daten zur Verfügung stehen. Ab morgen werden Daten zur Verfügung stehen.</p>
{% endif %}

<br>
{% if dayOfMonth > 1  %}
<p><h2>Verlauf im {{ currentMonthName }}</h2><p><img src="data:image/png;base64,{{ plot }}"/></p></p>

{% else %}
<p>Visualisierung für laufenden Monat noch nicht möglich, da noch keine Daten zur Verfügung stehen. Ab morgen werden Daten zur Verfügung stehen.</p>

{% endif %}

<p><a href='/'>Zurück</a></p>