<h1>API Documentation</h1>
<p>Available modes:</p>
<p>
<table>
<thead>
<tr>
<td>mode</td>
<td>explanation</td>
</tr>
</thead>
<tr>
<td>
d
</td>
<td>
"mode=d". Single daily value. "d" is the default mode.
</td>
</tr>
<tr>
<td>
w
</td>
<td>
"mode=w". Value of the whole week and values of the week days. The date specifies which week is returned.
</td>
</tr>
  <tr>
<td>
m
</td>
<td>
"mode=m". Two display modes: full_month: true and full_month: false. Full_month: true shows value of whole month, full_month: false returns all days that have passed in the specified month (incl. their values) and the preliminary value of the month.
</td>
</tr>
</table>
</p>
